#pane
{
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-margin: 10px;
}

.label
{
	-fx-font: 18px Alcubierre;
	-fx-padding: 20px;
    -fx-margin: 10px;
}

.radio-button
{
	-fx-font: 14px Alcubierre;
    -fx-padding: 10px;
    -fx-margin: 10px;
    -fx-background-insets: 10 0 10 0;
}

.button
{
	-fx-font: 16px Alcubierre;
	-fx-background-radius: 10px 10px 10px 10px;
    -fx-background-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-margin: 10px;
}

.button:hover
{
	-fx-effect: dropshadow(three-pass-box, #403C3C, 10, 0.5, 0, 0);    
}

.text-field
{
	-fx-font: 16px Alcubierre;
	-fx-border-radius: 10px 10px 10px 10px;
    -fx-border-style: solid;
    -fx-border-width: 1px;
	-fx-padding: 10px;
    -fx-margin: 10px;
    -fx-background-insets: 8 0 8 0;
    -fx-max-width: 100px;
}